:root {
	--test-color: #f0f;
}

html,body	{
	background:#000;
	height:100%;
	margin:0;
	padding:0;
	font-family: Sans-Serif;
}


header {
	background:var(--test-color);
	height:15%;
	padding-bottom:35px;
	/*30 % = home, 15% = everything else*/
	
}

nav {
	text-align:center;
	background-image: linear-gradient(#666, #333);
	border-top:3px solid var(--test-color);
	border-bottom:2px solid black;
	color:#eee;
	font-weight:bold;
	line-height:30px;
	word-spacing: 5em;
}

main {
	background:#222;
	margin: 0 15% 0 15%;
	min-height:80%;
	border-width:3px 3px 0 3px;
	border-style:solid solid solid solid;
	border-color:#222 var(--test-color) var(--test-color) var(--test-color);
}

img {
	display: block;
	opacity:0.5;
	transform: translate(0,-50%);
	object-fit:cover;
}

.headimg{
	background-image:url("head.png");
	height:100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.maindiv{
	margin:10px;
	color:#eee;
}

a{
	text-decoration:none;
}

a:link,a:visited{
	color:var(--test-color);
}

a:hover{
	color:#888;
}

nav a:link,nav a:visited{
	color:#eee;
}

.ontop,.ontop a:link,.ontop a:visited {
	position:absolute;
	top:7.5%;
	left:50%;
	transform: translate(-50%, -50%);
	color:#eee;
	letter-spacing:0.5em;
	font-size:150%;
}

